extends layout

block content
  h1= title
  p Welcome to #{title}
  each message in messages 
    - const time = ((new Date()).getHours() - message.added.getHours());
    .message-container 
      p.message-ele= `${message.text}` 
      p.message-ele= `By ${message.user}` 
      p.message-ele= (time < 1)? `Less than an Hour ago.`: (time==1)? 'An hour ago.': `${time} hours ago.`
  a(href="/new" class="new-msg") New Message 
